*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

.flex {display: flex;}
.just-cont-cent {justify-content: center;}
.just-cont-between {justify-content: space-between;}
.dir-col {flex-direction: column;}
.dir-row {flex-direction: row;}
.flex-wrap {flex-wrap: wrap;}
.just-cont-around {justify-content: space-around;}
.flex-end {justify-content: flex-end;}

.logo {position: fixed;
        background-color: white;
        width: 100%;}

.banner-image {
               background-image: linear-gradient( rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url("images/banner-girl.png"),url( "images/flower-bkgd.jpg");
               height: 80vh;
               background-position: center, bottom, center;
               background-size: contain, 40vh, cover;
               background-repeat: no-repeat;}

.border-top {border-top: 1px solid #d7d7d7;}

.logo {
        height: 13vh;}

.aloha-logo { position: relative;
              right: 10%;
              padding: 15px;}

.cart-logo { position: relative;
            left: 1%;
            padding: 20px; }

.text-center {text-align: center;}

.text-orange {color: #e2574c;}

.signup-img {
            /*background-image: linear-gradient(rgba(0,0,0,0.5));*/
            background: url("images/wave-bkgd.jpg");
            background-position: bottom, center;
            background-repeat: no-repeat;
            background-size: cover;}

form {width: 30%;
     border-radius: 50px;
     background-color:white;
     padding: 2px;
     margin: auto;}


.emailfield {
              padding-left: 10px;
              color: #969696;
              width: 70%;
              border-style: none;
              height: 20px;
              border-radius: 50px;}

.button {
          color: white;
          background-color: #e2574c;
          height: 20px;
          width: 20px;
          border-radius: 50px;
          border-style: none;
          flex-grow: 1;}

.padding{ padding: 30px;}

.footer {background: #242424;}

.text-white {color: white;}

.fa {color: white;}

.bottom-padding{padding-bottom: 30px;}

@font-face {font-family: "PlayfairDisplay-Bold";
           src: url("PlayfairDisplay-Bold.otf");}

@font-face {font-family: "PlayfairDisplay-BoldItalic";
           src: url("PlayfairDisplay-BoldItalic.otf");}

@font-face {font-family: "PlayfairDisplay-Italic";
           src: url("PlayfairDisplay-talic.otf");}

@font-face {font-family: "PlayfairDisplay-Regular";
           src: url("PlayfairDisplay-Regular.otf");}

@font-face {font-family: "Raleway-Light";
           src: url("Raleway-Light.ttf");}

@font-face {font-family: "Raleway-LightItalic";
           src: url("Raleway-LightItalic.ttf");}

@font-face {font-family: "Raleway-Medium";
           src: url("Raleway-Medium.ttf");}

@font-face {font-family: "Raleway-MediumItalic";
           src: url("Raleway-MEdiumITalic.ttf");}
